##  missing data

In [1]:
import numpy as np
import pandas as pd

In [21]:
data ={
    'a': [1, 2, np.nan, 4, 5],
    'b': [1, 2, 3, 4, 5],
    'c': [1, 2, 3, np.nan, np.nan],
    'd': [1, np.nan, np.nan, np.nan, 5]
    
}
df = pd.DataFrame(data)

In [16]:
df.isna()

       a      b      c      d
0  False   True  False  False
1  False  False  False   True
2   True  False  False   True
3  False  False   True   True
4  False  False   True  False

In [17]:
df.isna().sum()

a    1
b    1
c    2
d    3
dtype: int64

In [18]:
df.isna().any()

a    True
b    True
c    True
d    True
dtype: bool

## remove null value