In [1]:
import numpy as np
import pandas as pd

## group by

In [2]:
data ={
    'category': ['a', 'b', 'a', 'b', 'a', 'b'],
    'store': ['s1', 's1', 's2', 's2', 's1', 's2'],
    'sales': [100, 200, 150, 250, 120, 200],
    'quantity': [10, 15, 20, 15, 12, 10],
    'date': pd.date_range('2024-01-01', periods = 6)
}
df = pd.DataFrame(data)

In [3]:
df

  category store  sales  quantity       date
0        a    s1    100        10 2024-01-01
1        b    s1    200        15 2024-01-02
2        a    s2    150        20 2024-01-03
3        b    s2    250        15 2024-01-04
4        a    s1    120        12 2024-01-05
5        b    s2    200        10 2024-01-06

In [5]:

cate = df.groupby('category')
cate
for i,j in cate:
    print(i)
    print(j)

a
  category store  sales  quantity       date
0        a    s1    100        10 2024-01-01
2        a    s2    150        20 2024-01-03
4        a    s1    120        12 2024-01-05
b
  category store  sales  quantity       date
1        b    s1    200        15 2024-01-02
3        b    s2    250        15 2024-01-04
5        b    s2    200        10 2024-01-06

In [6]:
# group by category and calculate the sum of sales
cate = df.groupby('category')['sales'].sum()
cate

category
a    370
b    650
Name: sales, dtype: int64

In [7]:
# group by store and calculate the sum of sales
sto = df.groupby('store')['sales'].sum()
sto

store
s1    420
s2    600
Name: sales, dtype: int64

In [8]:
# group by multiple columns 
# group by category and store 
cate = df.groupby(['category','store'])['sales'].sum()
cate

category  store
a         s1       220
          s2       150
b         s1       200
          s2       450
Name: sales, dtype: int64

## aggregation

In [10]:
df['sales'].mean()

np.float64(170.0)

In [15]:
df['sales'].agg(['sum', 'mean', 'min', 'max', 'count', 'std', 'median'])

sum       1020.000000
mean       170.000000
min        100.000000
max        250.000000
count        6.000000
std         56.568542
median     175.000000
Name: sales, dtype: float64